<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao {{app_title}}!
  </h1>
</div>
<h2>Busque por suas dívidas: </h2>
<input [(ngModel)]="consumer.cpf" placeholder="Digite seu CPF">
<button (click)="onSearchDebt(consumer)">Buscar Dívidas</button>
<h2>Dívidas: </h2>
<ul>
  <li *ngFor="let debt of debts">
    {{ debt.description }}  |  R$ {{ debt.value }}
  </li>
 </ul>
 <h2>Total: </h2>
 <span *ngIf="total_debt">R$ {{ total_debt.total_debt }}</span>

